{% extends "shared/_MainLayout.html" %}
{% load thumbnail %}
{% load static %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
    <!--/ Intro Single star /-->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">{{ object.title }}</h1>
                        <span class="color-text-a">{{ object.address }}</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ Intro Single End /-->

    <!--/ Property Single Star /-->
    <section class="property-single nav-arrow-b">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="property-single-carousel" class="owl-carousel owl-arrow gallery-property">
                        {% for img in object_image_list %}
                            <div class="carousel-item-b">
                                <img src="{{ img.url }}" alt="{{ object.title }}">
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-md-5 col-lg-4">
                            <div class="property-price d-flex justify-content-center foo">
                                <div class="card-header-c d-flex">
                                    <div class="card-box-ico">
                                        <span class="fa fa-money"></span>
                                    </div>
                                    <div class="card-title-c align-self-center">
                                        <h5 class="title-c">{{ object.price }}</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="property-summary">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="title-box-d section-t4">
                                            <h3 class="title-d" style="text-align: center; ">درباره ملک</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="summary-list" style="direction:rtl; text-align:right;">
                                    <ul class="list">
                                        <li class="d-flex justify-content-between">
                                            <strong>خیابان: </strong>
                                            <span>{{ object.street }}</span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>موقعیت: </strong>
                                            <span>{{ object.address }}</span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>نوع ملک: </strong>
                                            <span>{{ object.typ }}</span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>وضعیت: </strong>
                                            <span>{{ object.status }}</span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>متراژ: </strong>
                                            <span>{{ object.area }}</span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>اتاق: </strong>
                                            <span>{{ object.room }}</span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>پارکینگ: </strong>
                                            <span>{{ object.parking }}</span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>سال ساخت: </strong>
                                            <span>{{ object.year_of_construction }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-7 section-md-t3">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="title-box-d">
                                        <h3 class="title-d" style="text-align: center;">درباره ملک</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="property-description" style="direction: rtl;">
                                <div class="description color-text-a text-right">
                                    {{ object.description|safe }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 w-100">
                    <div class="row section-t3">
                        <div class="col-md-8">
                            <div class="title-box-d">
                                <h3 class="title-d" style="text-align: center;">ارتباط با مشاور املاک</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-6">
                            {% thumbnail object.advisor.logo "500x500" crop="center" as img %}
                                <img src="{{ img.url }}" alt="{{ object.advisor.advisor_name }}"
                                     class="img-fluid" width="{{ img.width }}" height="{{ img.height }}">
                            {% endthumbnail %}
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="property-agent">
                                <h4 class="title-agent">این ملک در مشاوراملاک تست ثبت شده است</h4>
                                <p class="color-text-a">
                                    این ملک در مشاور املاک تست ثبت شده و شما برای
                                    اطلاعات بیشتر و هماهنگی
                                    با مشاور تماس بگیرید
                                </p>
                                <ul class="list-unstyled" style="direction: rtl;">
                                    <li class="d-flex justify-content-between">
                                        <strong>تلفن :</strong>
                                        <span class="color-text-a">
                                            {% if object.advisor.phone %}{{ object.advisor.phone }}{% else %}
                                                ...{% endif %}
                                        </span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>همراه :</strong>
                                        <span class="color-text-a">
                                            {% if object.advisor.mobile %}{{ object.advisor.mobile }}{% else %}
                                                ...{% endif %}
                                        </span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>آدرس :</strong>
                                        <span class="color-text-a">
                                            {% if object.advisor.address %}{{ object.advisor.address }}{% else %}
                                                ...{% endif %}
                                        </span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>نام مشاور املاک :</strong>
                                        <span class="color-text-a">{{ object.advisor.advisor_name }}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ Property Single End /-->
{% endblock %}